h3[b-juz39syoi9] {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}


h1[b-juz39syoi9] {
    font-weight: bold;
    font-size: 25px;
}
.dash-title[b-juz39syoi9] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

    .dash-title h1[b-juz39syoi9] {
        font-weight: bold;
        font-size: 25px;
    }

.filter-container[b-juz39syoi9] {
    display: flex;
    align-items: center;
    gap: 10px;
}

    .filter-container .date-label[b-juz39syoi9] {
        font-size: 1rem;
        margin-right: 5px;
    }

    .filter-container input[type="date"][b-juz39syoi9] {
        padding: 5px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .filter-container .apply-btn[b-juz39syoi9] {
        background-color: #2A329C;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px 15px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

        .filter-container .apply-btn:hover[b-juz39syoi9] {
            background-color: #22287D;
        }


.pending-debts-container[b-juz39syoi9], .overdue-debts-container[b-juz39syoi9], .cleared-debts-container[b-juz39syoi9] {
    margin-bottom: 1rem;
}

.no-debts-message[b-juz39syoi9] {
    text-align: center;
    font-size: 18px;
    color: #555;
    background: #f9f9f9;
    padding: 12px;
    font-weight: bold;
}

.filter-buttons[b-juz39syoi9] {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.filter-btn[b-juz39syoi9] {
    background-color: #2A329C;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

    .filter-btn:hover[b-juz39syoi9] {
        background-color: #22287D;
    }

.clear-btn[b-juz39syoi9] {
    background-color: #293198;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: bold;
}

    .clear-btn:hover[b-juz39syoi9] {
        background-color: #45a049;
    }

.success[b-juz39syoi9] {
    text-align: center;
    color: green;
    font-weight: bold;
}

.error[b-juz39syoi9] {
    color: red;
    text-align: center;
    font-weight: bold;
}

.styled-table[b-juz39syoi9] {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

    .styled-table thead[b-juz39syoi9] {
        background-color: #2A329C;
        color: white;
        text-align: center;
    }

    .styled-table th[b-juz39syoi9] {
        padding: 12px;
    }

    .styled-table td[b-juz39syoi9] {
        text-align: center;
        padding: 12px;
        border-bottom: 1px solid #ddd;
    }

    .styled-table tbody tr:nth-child(even)[b-juz39syoi9] {
        background-color: #f9f9f9;
    }

    .styled-table tbody tr:hover[b-juz39syoi9] {
        background-color: #f1f1f1;
    }

.overdue-table thead[b-juz39syoi9] {
    background-color: #B71C1C;
    color: white;
}

.paid-status[b-juz39syoi9] {
    font-weight: bold;
    color: green;
}

.modal-overlay[b-juz39syoi9] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-container[b-juz39syoi9] {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-header[b-juz39syoi9] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn[b-juz39syoi9] {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-footer[b-juz39syoi9] {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.cancel-btn[b-juz39syoi9], .confirm-btn[b-juz39syoi9] {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn[b-juz39syoi9] {
    background-color: #f44336;
    color: white;
    border: none;
}

    .cancel-btn:hover[b-juz39syoi9] {
        background-color: #d32f2f;
    }

.confirm-btn[b-juz39syoi9] {
    background-color: #4CAF50;
    color: white;
    border: none;
}

    .confirm-btn:hover[b-juz39syoi9] {
        background-color: #45a049;
    }
