@inherits LayoutComponentBase
@using BudgetMate.Components.Services
@using BudgetMate.Components.Layout
@using BudgetMate.Components.Models
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Forms
@inject UserService UserService
@inject NotificationService NotificationService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <div class="title">

                Track your expenses at one stop
            </div>
            <div class="title">
                <i class="fas fa-user" style="color: darkred; margin-right: 5px;"></i>
                <span style="color: darkred">@userName</span>
            </div>
          
        </div>

       <article class="content">
    <NotificationComponent />
    @Body
</article>
    </main>
</div>

@code {
    private string userName = "Guest";

    protected override void OnInitialized()
    {
        var loggedInUser = UserService.GetCurrentUser();
        userName = loggedInUser?.Username ?? "Guest"; 
    }
}
