@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
             Track you expenses at one stop
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
