@using BudgetMate.Components.Services
@using BudgetMate.Components.Layout
@using BudgetMate.Components.Models
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Forms
@inject BudgetMate.Components.Services.UserService UserService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="/assets/budgetmate.png" alt="BudgetMate Logo" class="logo" />
        </a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column nav-content">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="overview" Match="NavLinkMatch.All">
                <span class="fa-solid fa-columns" aria-hidden="true"></span> Overview
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transactions">
                <span class="fas fa-plus-square" aria-hidden="true"></span> Transaction
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="debtmanagement">
                <span class="fas fa-hand-holding-usd" aria-hidden="true"></span> Debt Management
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="expenseshistory">
                <span class="fas fa-history" aria-hidden="true"></span> Expenses History
            </NavLink>
        </div>

        <div class="nav-spacer"></div>

        <div class="nav-item px-3 logout-button-container">
            <button class="logout-button" @onclick="Logout">
                <span class="fas fa-sign-out-alt" aria-hidden="true"></span> Logout
            </button>
        </div>
    </nav>
</div>

@code {
    private void Logout()
    {
        UserService.Logout(); 
        NavigationManager.NavigateTo("/", forceLoad: true); 
    }
}

