/* /Components/Layout/FirstLayout.razor.rz.scp.css */
.page[b-yde05lz0rl] {
    background-image: linear-gradient(180deg, #2A329C 0%, #090606 100%);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
/* /Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-btdjf3oo18] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-btdjf3oo18] {
    flex: 1;
}

.content[b-btdjf3oo18] {
    padding-left: 1.4rem;  
}

.sidebar[b-btdjf3oo18] {
    background-image: linear-gradient(180deg, #2A329C 0%, #090606 100%);
}

.top-row[b-btdjf3oo18] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-start;
    height: 3.5rem;
    display: flex;
    align-items: center;
    font-weight:bold;
    font-size: 1.25rem;
    padding-left: 1rem;
}

    .top-row[b-btdjf3oo18]  a, .top-row[b-btdjf3oo18]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-btdjf3oo18]  a:hover, .top-row[b-btdjf3oo18]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-btdjf3oo18]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-btdjf3oo18] {
        justify-content: space-between;
    }

        .top-row[b-btdjf3oo18]  a, .top-row[b-btdjf3oo18]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-btdjf3oo18] {
        flex-direction: row;
    }

    .sidebar[b-btdjf3oo18] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-btdjf3oo18] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-btdjf3oo18]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    /* Avoid overriding specific padding for .content */
    .top-row[b-btdjf3oo18], article[b-btdjf3oo18] {
        padding-right: 1.5rem !important;
    }
}
/* /Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-ah7ugpknd2] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.logo[b-ah7ugpknd2] {
    padding-left: 10px;
    height: 2.2rem; 
    max-width: 100%;
}


.navbar-toggler:checked[b-ah7ugpknd2] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-ah7ugpknd2] {
    height: 3.5rem;
    background-color: #2A329C;
}

.navbar-brand[b-ah7ugpknd2] {
    font-size: 1.1rem;
}

.bi[b-ah7ugpknd2] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}


.nav-item[b-ah7ugpknd2]{
    margin-top: 0.3rem;
    font-size: 15.5px;
}

.nav-item span[b-ah7ugpknd2] {
    margin-right: 0.5rem;
    font-size: 1.25rem;
    color: white;
}

    .nav-item:first-of-type[b-ah7ugpknd2] {
        padding-top: 0.5rem;
    }

    .nav-item:last-of-type[b-ah7ugpknd2] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ah7ugpknd2]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-ah7ugpknd2]  a.active {
            background-color: rgba(255,255,255,0.37);
            color: white;
        }

        .nav-item[b-ah7ugpknd2]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.nav-scrollable[b-ah7ugpknd2] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-ah7ugpknd2] {
    display: block;
}

.nav-scrollable .nav-link span[b-ah7ugpknd2] {
    font-size: 1.4rem; 
    display: inline-block;
    vertical-align: middle; 
}

.nav-scrollable .nav-link[b-ah7ugpknd2] {
    display: flex;
    align-items: center; 
    gap: 0.5rem; 
}

@media (min-width: 641px) {
    .navbar-toggler[b-ah7ugpknd2] {
        display: none;
    }

    .nav-scrollable[b-ah7ugpknd2] {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Components/Pages/Home.razor.rz.scp.css */
/* /Components/Pages/Overview.razor.rz.scp.css */
body[b-hjwq8akmqr] {
}
/* /Components/Pages/Transactions.razor.rz.scp.css */
body[b-48be2bzejc] {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h3[b-48be2bzejc] {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}

.transaction-container[b-48be2bzejc] {
    background-color: #F8F9FA;
    border: 0.5px solid #293198;
    border-radius: 6px;
    width: 100%;
    max-width: 840px;
    max-height: 490px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.transaction-box[b-48be2bzejc] {
    padding: 20px;
}

.transaction-row[b-48be2bzejc] {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

    .transaction-row select[b-48be2bzejc] {
        width: 100%;
        padding: 8px 20px 8px 8.5px;
        border: 0.5px solid #293198;
        border-radius: 4px;
        margin-top: 3px;
        font-size: 14px;
        color: #293198;
        background-color: #fff;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: 12px;
        background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22%3E%3Cpath fill=%22%23333%22 d=%22M0 2l5 5 5-5z%22/%3E%3C/svg%3E');
    }

        .transaction-row select option[b-48be2bzejc] {
            color: #293198;
        }

        .transaction-row select:focus[b-48be2bzejc], .transaction-row select:active[b-48be2bzejc] {
            background-color: #f4f4f4;
            color: #293198;
        }

.trow-title[b-48be2bzejc] {
    font-weight: bold;
    margin-bottom: 5px;
}

.trow-field input[type="text"][b-48be2bzejc], select[b-48be2bzejc] {
    width: 100%;
    padding: 9px;
    border: 0.5px solid #293198;
    border-radius: 4px;
    margin-top: 3px;
    font-size: 14px;
    color: #293198;
}

    .trow-field input[type="text"][b-48be2bzejc]::placeholder,
    .custom-tag-input input[type="text"][b-48be2bzejc]::placeholder {
        color: #293198;
    }




    .custom-tag-input input[type="text"][b-48be2bzejc] {
        width: 100%;
        padding: 8.5px;
        border: 0.5px solid #293198;
        border-radius: 4px;
        margin-top: 3px;
        font-size: 14px;
        color: #293198;
    }

        .custom-tag-input input[type="text"][b-48be2bzejc]::placeholder {
            color: #293198;
        }

button[b-48be2bzejc] {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #293198;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

    button:hover[b-48be2bzejc] {
        background-color: #1f287b;
    }









@media (min-width: 641px) {
    body[b-48be2bzejc] {
        font-size: 16px;
    }

    .transaction-container[b-48be2bzejc] {
        max-width: 900px;
        max-height: 600px;
    }

    .transaction-box[b-48be2bzejc] {
        padding: 25px;
    }

    .transaction-row select[b-48be2bzejc] {
        font-size: 16px;
    }

    .trow-field input[type="text"][b-48be2bzejc], select[b-48be2bzejc] {
        font-size: 16px;
    }


    .tag-button[b-48be2bzejc] {
        font-size: 16px;
        padding: 7px 17px;
    }

    button[b-48be2bzejc] {
        padding: 10px 15px;
    }
}
