.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 1rem;
}

.no-transactions-message {
    text-align: center;
    font-size: 18px;
    color: #555;
    background: #f9f9f9;
    padding: 12px;
    font-weight: bold;
}


@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

    .styled-table thead {
        background-color: #2A329C;
        color: white;
        text-align: center;
    }

    .styled-table th {
        padding: 12px;
    }

    .styled-table td {
        text-align: center;
        padding: 12px;
        border-bottom: 1px solid #ddd;
    }

    .styled-table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .styled-table tbody tr:hover {
        background-color: #f1f1f1;
    }


.pending-debts-container{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.no-debts-message {
    text-align: center;
    font-size: 18px;
    color: #555;
    background: #f9f9f9;
    padding: 12px;
    font-weight: bold;
}

.filter-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.filter-btn {
    background-color: #2A329C;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

    .filter-btn:hover {
        background-color: #22287D;
    }

.clear-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: bold;
}

    .clear-btn:hover {
        background-color: #45a049;
    }

.success {
    text-align: center;
    color: green;
    font-weight: bold;
}

.error {
    color: red;
    text-align: center;
    font-weight: bold;
}

.overview-container {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.col {
    background: #e9e9e9;
    border-radius: 8px;
    padding: 16px;
    flex: 1;
    max-width: 100%;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

/* Ensures alignment inside each column */
.col-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align everything to the left */
    gap: 6px;
}

/* Font Awesome Icons */
.icon {
    font-size: 24px;
    color: black;
}

/* Title styling */
.title {
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

/* Value styling */
.value {
    font-size: 20px;
    color: black;
    font-weight: bold;
}


.tran-details {
    
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.tran-col {
    padding: 16px;
    flex: 1;
    max-width: 100%;
    align-items: center; /* Ensures vertical alignment */
    gap: 12px; /* Space between icon, title, and value */
    border-radius: 8px;
    padding: 22px;
    margin-top: 1.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left; /* Align text content */

}

.tran-icon {
    font-size: 24px;
    color: black;
}

.tran-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.tran-value {
    font-size: 20px;
    font-weight: bold;
    color: #4caf50;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.cancel-btn, .confirm-btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #f44336;
    color: white;
    border: none;
}

    .cancel-btn:hover {
        background-color: #d32f2f;
    }

.confirm-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
}

    .confirm-btn:hover {
        background-color: #45a049;
    }
